

<div class="card mb-4">
    <a href="#!">
        <img class="card-img-top" 
        {% if post.image %}
            src='{{ post.image.url }}'
        {% else %}
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" 
            alt="..."
        {% endif %}
        ></a>
    <div class="card-body">
        <div class="small text-muted">{{ post.published_date}}</div>
        <h2 class="card-title h4">{{ post.title }}</h2>
        <p class="card-text">{{ post.text }}</p>
        <a class="btn btn-primary" href="{% url "blog:post_detail" pk=post.pk %}">Подробнее</a>
    </div>
</div>